@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

* {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

div.contenedor{
  margin: auto;
  width: 100%;
  max-width: 400px;
  background: #F2F2F2;
  padding: 0px 10px;
  border: 1px solid rgba(0,0,0,0.2);
}

body {

    background: #FFFFFF;
    display: flex;
    min-height: 100vh;

}


form {

    margin: auto;
    width: 100%;
    max-width: 400px;
    background: #F2F2F2;
    padding: 0px 10px;
    border: 1px solid rgba(0,0,0,0.2);

}

h2 {
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
    color: BLACK;
    font-family: 'Bowlby One SC', cursive;


}

h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    color: black;

}

input {
    display: block;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;


}

select.semana{
    display: block;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
}


table{
  margin-left: 0;
  font-size: 12px;
  margin-bottom: 20px;
}

td.td_btn{
  width: 20px;
}

td{
  font-size: 15px;
}

td.primera_fila{
  text-align: center;
  padding-bottom: 10px;
}

input#id_empleado{
  width: 100%;
  font-size: 10px;
}

input.btn_principal{
  color: white;
  background-color: black;
  border-color: black;
  margin-bottom: 10px;
}


a {

    text-decoration: none;

}



h2.title{
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

.nuevo_usuario {
  margin-top: 10px;
}

.textbox{
  border-radius: 8px;
}

.submit{
  color: white;
  background-color: black;
  border-color: black;
}
