* {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

div.contenedor{
  margin: auto;
  width: 100%;
  max-width: 920px;
  background: white;
  padding: 20px 10px;
  border: 1px solid rgba(0,0,0,0.2);

}



div.contenedor table{
  width: 95%;
  margin: auto;
  margin-top: 7px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-collapse: collapse;


}

th{
  text-align: center;
  height: 40px;

}
table thead{
  background-color: black;
  color: #F2F2F2;

}

td{
  padding: 3px 6px;
  border-right: 1px solid black;
  border-left: : 1px solid black;

}
tbody, tfoot{
  border: 1px solid black;
  padding-bottom: 30px;
}


td.td_total{
  text-align: right;
}

td.td_center, td.td_money{
  text-align: center;
}

td.td_money::before{
  content: '$ ';
}
tr:nth-child(even) {
  background-color: #F2F2F2;
}

div.div_total{
  padding: 10px 25px;
  text-align: right;
}
/* Logo */
div.logo, div.logo img{
  width: 200px;
  margin: auto;
}

#filtro_encabezado{
  text-align:center;
}
